.row-header{
    margin:0px auto;
    padding: 0px;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #fd9898;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background-color: #fd7373;
    color: #f5f5f5;
}

address{
    font-size: 80%;
    margin:0px;
    color: #504f4f;
}

body{
    padding: 45px 0px 0px 0px;
    z-index: 0;
}
.navbar-inverse{
    background-color: #fa5e5e;
}

h3{
    font-size: 200%;
    font-weight: bold;
}